body{
    background-image: url(./images/bkground.gif);
    background-size: cover;
    color: #fff;
    font-family: sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
h1 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 13px 2px rgba(0, 0, 0, 0.50);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 96px;
    display: flex;
    width: 394px;
    height: 134px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.wallet {
    width: 111px;
    height: 85px;
    fill: #FFF;
    filter: drop-shadow(0px 13px 2px rgba(0, 0, 0, 0.50));
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -10%;
}
 .logo { 
    display: flex;
    width: 20%;
    height: 134px;
    justify-content: center;
    margin-left: 35%;
    margin-top: 4%;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    overflow: hidden;
    padding: 1rem 0;
}
.carousel-item {
    margin-left: 1rem;
}

.card {
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease;
}
body{
    background-image: url(./images/bkground.gif);
    background-size: cover;
    color: #fff;
    font-family: sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
h1 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 13px 2px rgba(0, 0, 0, 0.50);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 96px;
    display: flex;
    width: 394px;
    height: 134px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.wallet {
    width: 111px;
    height: 85px;
    fill: #FFF;
    filter: drop-shadow(0px 13px 2px rgba(0, 0, 0, 0.50));
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -10%;
}
 .logo { 
    display: flex;
    width: 20%;
    height: 134px;
    justify-content: center;
    margin-left: 35%;
    margin-top: 4%;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    overflow: hidden;
    padding: 1rem 0;
}
.carousel-item {
    margin-left: 1rem;
}

.card {
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease;
}
body{
    background-image: url(./images/bkground.gif);
    background-size: cover;
    color: #fff;
    font-family: sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
h1 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 13px 2px rgba(0, 0, 0, 0.50);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 96px;
    display: flex;
    width: 394px;
    height: 134px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.wallet {
    width: 111px;
    height: 85px;
    fill: #FFF;
    filter: drop-shadow(0px 13px 2px rgba(0, 0, 0, 0.50));
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -10%;
}
 .logo { 
    display: flex;
    width: 20%;
    height: 134px;
    justify-content: center;
    margin-left: 35%;
    margin-top: 4%;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    overflow: hidden;
    padding: 1rem 0;
}
.carousel-item {
    margin-left: 1rem;
}

.card {
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease;
} 
.carousel {
    width: calc(90% - 20px);
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5.5%;
    margin-top: 10%;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-button {
    position: fixed;
    bottom: 14%;
    display: block;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    background-image: url(./images/paul-volkmer-qVotvbsuM_c-unsplash.jpg);
    color: white;
    border-color: #ffffff;
    border-style: solid;
    border: 2px solid;
    border-radius: 50px;
    font-size:23px ;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.img1 {
    width: calc(90% - 20px);
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5.5%;
    margin-top: 10%;
    position: absolute;
}

 