/** {
    border: red 2px solid;
}*/

body {
  background-color: rgb(255, 255, 255);
    background-size: cover;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

label {
    color: #000;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
    padding: 30px;
    text-align: center;
    position: relative;
    display: flex;
}
.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(224, 223, 223);
    border-radius: 30px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 50px;
    background-color: rgb(224, 223, 223);
    color: #000000;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.button input[type="submit"] {
    border-radius: 100px;
    background: #fff;
    color: #000;
    border-color: #fff;
    padding: 10px 20px;
    border: 10px;
    border-radius: 50px;
    font-size:23px ;
    cursor: pointer;
}

.button  input:hover {
    background: #ccc;
    color: #000;
    border: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: #000000;
}

#frm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50px;
    border: 2px solid #fff;
    margin: 10px;
    padding: 10px;
    display: block;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #33383C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 100;
}

header {
    padding: 1.7rem 0;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-content: center;
}

.logo a {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--primary-color);
    text-decoration: none;
}

nav {
    z-index: 1;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 50px;
    gap: 20px;
}

nav a {
    color: #33383C;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    padding: 0.4rem 1.3rem;
}

nav a:hover {
    background-color: #33383C;
    color: #fff;
    border-radius: 50px;
}

input::placeholder{
    font-size: 16px;
}

textarea::placeholder{
    font-size: 16px;
}
